{% assign app_config = nil %}
{% if page.app_key %}
  {% assign app_config = site.ios_apps[page.app_key] %}
{% elsif page.app_id %}
  {% for app_entry in site.ios_apps %}
    {% if app_entry[1].id == page.app_id %}
      {% assign app_config = app_entry[1] %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if app_config %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ app_config.name | escape }}",
  "description": "{{ app_config.description | escape }}",
  "applicationCategory": "Utilities",
  "operatingSystem": "iOS",
  "applicationSubCategory": "Productivity",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "https://schema.org/InStock"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Lilucat",
    "url": "https://lilucat.com",
    "@id": "https://lilucat.com/#organization"
  },
  "image": "{{ site.url }}{{ app_config.icon }}",
  "url": "https://apps.apple.com/us/app/id{{ app_config.id }}",
  "downloadUrl": "https://apps.apple.com/us/app/id{{ app_config.id }}"
  {% if app_config.rating and app_config.rating != 0 and app_config.ratings_count and app_config.ratings_count != 0 %},
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{ app_config.rating }}",
    "ratingCount": "{{ app_config.ratings_count }}",
    "bestRating": "5",
    "worstRating": "1"
  }
  {% endif %}
}
</script>
{% endif %}
