{% for post in sorted-posts %}
<div class="col-lg-4 mb-4">
  <div class="h-100 bg-body-tertiary rounded-4 text-start position-relative product">
    <a href="{{ post.url }}" class="stretched-link"></a>
    <div class="position-absolute top-0 mt-3 ps-3">
      <a href="{% if page.url == '/blog/' %} {{ post.categories }}/ {% else %} {{ page.permalink }}{% endif %}" class="stretched-link" style="position: relative;">
        <span class="badge bg-light-subtle text-light-emphasis">{{ post.categories | replace: '-', ' ' | remove: '"]' | remove: '["' | capitalizewords }}</span>
      </a>
    </div>
    <img src="{{ post.image.path }}" class="w-100 rounded-top-4" alt="{{ post.title }} Image">
    <div class="p-md-4 p-3">
      <h2 class="fw-semibold fs-4">{{ post.title }}</h3>
      <p class="text-start lead fw-normal text-body-secondary">{{ post.excerpt | truncatewords: 20 }}</p>
      <p class="card-text mb-2"><small class="text-muted">{{ post.date | date_to_string }}</small></p>
    </div>
  </div>
</div>
{% endfor %}