<footer class="footer px-2 pt-5 mt-5">
  <div class="container pt-3 pt-md-0">
    <div class="row pb-3">
      <div class="col-md-4 mt-n2 me-auto pb-3 pb-md-0 mb-4">
        <a class="d-inline-flex align-items-center mb-2" href="/" aria-label="{{ site.title }}">
          <!-- <img class="rounded-img-compare" src="{{ site.data.footer.logo }}" width="40" alt="{{ site.title }} logo"> -->
          <span class="fw-semibold fs-5 text-dark">{{ site.title }}</span>
        </a>
        <p class="fs-6 pb-2 pb-sm-3 opacity-60">{{ site.description }}</p>
      </div>
      {% for item in site.data.footer.data %}
      <div class="col-md-2 col-sm-4 col mb-4">
        <div class="widget">          
          <h5 class="opacity-10">{{ item.name }}</h5>
          <ul class="list-unstyled">
            {% for link in item.links.option %}
              {% if link.url == # %}
              <li class="m-0">{{ link.name }} <span class="badge bg-warning">soon</span></li>
              {% else %}
              <li class="py-1"><a class="p-2 nav-hover text-secondary" href="{{ link.url }}" rel="noopener">{{ link.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>          
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row align-items-center pb-3">
      <div class="col-md-4 order-2 order-md-1 mb-2">
        <p class="m-0"><a class="nav-link-style" href="{{ site.data.footer.url }}" rel="noopener">{{ site.data.footer.copyright }}</a><span class="opacity-60 me-1"> {{ site.data.footer.message }}</span></p>
      </div>
    </div>
  </div>
</footer>