<footer class="footer bg-light px-2 pt-md-5 mt-md-5">
  <div class="container pt-3 pt-md-0">
    <div class="row pb-3">
      <!-- Marca -->
      <div class="col-md-4 col-sm-12 mb-4">
        <a
          class="d-inline-flex align-items-center mb-2"
          href="/"
          aria-label="{{ site.title }}"
          title="Lilucat - Home"
        >
          <span class="fw-semibold fs-5 text-dark">{{ site.title }}</span>
        </a>
        <p class="fs-6 pb-2 pb-sm-3 opacity-60">
          {{ site.data.footer.description }}
        </p>
        {% for item in site.data.footer.social %} {% for link in
        item.links.option %}
        <a
          class="btn-social me-3 mb-2"
          href="{{ link.url }}"
          target="_blank"
          rel="noopener"
          data-splitbee-event="External Link..."
          data-splitbee-event-social="{{ link.name }}"
          title="Follow Lilucat on {{ link.name }}"
          ><i class="text-dark h4 {{ link.image }}"></i></a
        >{% endfor %} {% endfor %}
      </div>
      <div class="col-md-4 col-sm-12 mb-4">

        </div>
      <!-- Company/Resources -->
      {% for item in site.data.footer.data %}
      <div class="col-md-2 col-sm-4 col mb-4">
        <div class="widget">
          <div class="fw-semibold fs-6 text-dark mb-2">{{ item.name }}</div>
          <ul class="list-unstyled">
            {% if item.name == 'Resources' %}
              {% for category in site.data.blog.data %}
                {% unless category.name == "All" %}
                <li class="py-1">
                  <a
                    class="py-2 footer-hover text-secondary"
                    href="{{ category.url }}"
                    rel="noopener"
                    title="Read posts about {{ category.name }} on the Lilucat Blog"
                  >{{ category.name }}</a>
                </li>
                {% endunless %}
              {% endfor %}
            {% else %}
              {% for link in item.links.option %}
                {% if link.url == # %}
                <li class="m-0">{{ link.name }} <span class="badge bg-warning">soon</span></li>
                {% else %}
                <li class="py-1">
                  <a
                    class="py-2 footer-hover text-secondary"
                    href="{{ link.url }}"
                    rel="noopener"
                    title="{{ link.name }} – Lilucat"
                  >{{ link.name }}</a>
                </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-4 mb-4">
        <div class="widget">
          <div class="fw-semibold fs-6 text-dark mb-2">Products</div>
          {% assign apps = "" | split: "" %} {% for app_entry in site.ios_apps
          %} {% assign app = app_entry[1] %} {% if app.published != false %} {%
          assign apps = apps | push: app %} {% endif %} {% endfor %}
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled">
                {% for app in apps limit:4 %}
                <li class="py-1 d-flex align-items-center">
                  <a
                    class="py-2 footer-hover text-secondary"
                    href="{% if app.page %}/{{ app.page }}/{% else %}https://apps.apple.com/us/app/id{{ app.id }}{% endif %}"
                    {% unless app.page %}rel="noopener" target="_blank"{% endunless %}
                    title="{{ app.name }}"
                  >
                    <img
                      src="{{ app.icon }}"
                      alt="{{ app.name }} icon"
                      width="24"
                      height="24"
                      class="me-2 rounded-3"
                      loading="lazy"
                    />
                    {{ app.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                {% for app in apps offset:4 limit:4 %}
                <li class="py-1 d-flex align-items-center">
                  <a
                    class="py-2 footer-hover text-secondary"
                    href="{% if app.page %}/{{ app.page }}/{% else %}https://apps.apple.com/us/app/id{{ app.id }}{% endif %}"
                    {% unless app.page %}rel="noopener" target="_blank"{% endunless %}
                    title="{{ app.name }}"
                  >
                    <img
                      src="{{ app.icon }}"
                      alt="{{ app.name }} icon"
                      width="24"
                      height="24"
                      class="me-2 rounded-3"
                      loading="lazy"
                    />{{ app.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center pb-3">
      <div class="col-md-4 order-2 order-md-1 mb-2">
        <p class="m-0">
          <a
            class="footer-hover text-secondary"
            href="{{ site.data.footer.url }}"
            rel="noopener"
            title="Lilucat Privacy Policy"
            >{{ site.data.footer.copyright }}</a
          ><span class="opacity-60 me-1"> {{ site.data.footer.message }}</span>
        </p>
      </div>
    </div>
  </div>
</footer>
