<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>
  (function() {
    var apiURL = "https://itunes.apple.com/lookup?id={{ site.ios_app_id }}&callback=?";
    $.getJSON( apiURL, function(json) {
      if (json.results && json.results.length) {
        var appInfo = json.results[0];
        // console.log(appInfo.version);
        document.getElementById("version").innerHTML = "Version " + appInfo.version;
      } 
      else {
        console.log("something goes wrong")
      }
    })
  })();
</script> -->
<script>
    $.ajax({
      url: "https://geolocation-db.com/jsonp",
      jsonpCallback: "callback",
      dataType: "jsonp",
      success: function( location ) {
        if (location.country_name == "United States" ) {
            $('#country').html(location.country_name);    
        } else {
            $('#country').html("success");
        }
        // $('#country').html(location.country_name);
        // $('#state').html(location.state);
        // $('#city').html(location.city);
        // $('#latitude').html(location.latitude);
        // $('#longitude').html(location.longitude);
        // $('#ip').html(location.IPv4);
        // $('#ip').html(location.IPv6);
      }
    });
</script>