<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png" title="Lilucat App Icon">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png" title="Lilucat Favicon 32x32">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png" title="Lilucat Favicon 16x16">
<link rel="manifest" href="/site.webmanifest" title="Lilucat Web App Manifest">
<meta name="msapplication-TileColor" content="#da532c">
<link rel="preload" href="/assets/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</noscript>
<link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/css/local.css">
{% if page.app_id %}
  <meta name="apple-itunes-app" content="app-id={{ page.app_id }}">
{% elsif page.app_key %}
  {% assign app_config = site.ios_apps[page.app_key] %}
  {% if app_config %}
    <meta name="apple-itunes-app" content="app-id={{ app_config.id }}">
  {% endif %}
{% endif %}
<meta name="google-site-verification" content="VjZubRUuR6r3cVdFZD1MWYBfIKopUw4FTPFaCijdem8" />

<!-- Lilucat brand image for SEO/social -->
<meta property="og:image" content="/assets/img/lilucat_pet.webp">

<meta name="robots" content="index, follow">

<link rel="preload" href="/assets/css/local.css" as="style">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-79G5FQW2NL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-79G5FQW2NL');
</script>

<script src="https://analytics.ahrefs.com/analytics.js" data-key="DBzPGlnxt2vZsT3Jp7h57Q" async></script>