<nav class="navbar navbar-expand-lg fixed-top" style="backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.3); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
  <div class="container">
    <a class="navbar-brand text-dark" href="/" title="Lilucat - Home">
      <strong class="fw-semibold fs-5">{{ site.data.nav.title }}</strong>
    </a>
    
    <div class="navbar-nav ms-auto d-flex flex-row">
      {% for item in site.data.nav.data %}
        {% if page.url == {{item.url}} %}
          <a class="nav-link p-2 px-3 nav-hover" href="{{item.url}}" rel="noopener" title="{% if item.name_desktop %}{{item.name_desktop}}{% else %}{{item.name}}{% endif %}">
            <span class="d-lg-none">{% if item.is_image %}<img src="{{item.name_mobile}}" alt="Lilucat Pro" title="Lilucat Pro" style="width: 30px; height: 30px;">{% else %}<span style="font-size: 30px; line-height: 30px;">{{item.name_mobile}}</span>{% endif %}</span>
            <span class="d-none d-lg-inline">{% if item.name_desktop %}{{item.name_desktop}}{% else %}{{item.name}}{% endif %}</span>
          </a>
        {% else %}
          <a class="nav-link p-2 px-3 nav-hover text-secondary" href="{{item.url}}" rel="noopener" title="{% if item.name_desktop %}{{item.name_desktop}}{% else %}{{item.name}}{% endif %}">
            <span class="d-lg-none">{% if item.is_image %}<img src="{{item.name_mobile}}" alt="Lilucat Pro" title="Lilucat Pro" style="width: 30px; height: 30px;">{% else %}<span style="font-size: 30px; line-height: 30px;">{{item.name_mobile}}</span>{% endif %}</span>
            <span class="d-none d-lg-inline">{% if item.name_desktop %}{{item.name_desktop}}{% else %}{{item.name}}{% endif %}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>