<div class="row align-items-md-stretch">
    {% for product in site.data.products.data %}
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <img src="{{ product.icon }}" width="76" height="76" class="rounded-3 shadow-sm mb-3" alt="">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <a href="{{ product.url }}" target="_blank">
          <img class="p-0" src="{{ product.badge }}" alt="{{ product.alt }}" width="135" height="48">
        </a>
        <p class="mt-3 small">
          {% for legal in product.legal.option %}
          <a class="p-2 nav-hover text-secondary" href="{{ legal.url }}" rel="noopener">{{ legal.name }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>