{% assign app_config = nil %}
{% for app_entry in site.ios_apps %}
  {% if app_entry[1].id == page.app_id %}
    {% assign app_config = app_entry[1] %}
    {% break %}
  {% endif %}
{% endfor %}
{% if app_config %}
<img
  class="rounded-4 shadow-sm mb-md-4 mb-3"
  src="{{ app_config.icon }}"
  alt="{{ app_config.name }} Icon"
  title="{{ app_config.name }} Icon"
  width="76"
  height="76"
  loading="lazy"
/>
<h1 class="display-5 fw-bold">{{ app_config.name }}</h1>
<h2 class="fs-4 text-body-secondary pb-3">{{ app_config.subtitle }}</h2>
<p class="col-lg-8 col-xl-6 d-flex mx-auto">{{ app_config.description }}</p>

<div class="d-flex justify-content-center align-items-center flex-wrap">
  {% include appstorebadge.html app_id=app_config.id platform="iphone" src="https://one-badge.com/b/apple/appstore.svg" alt="Download on the App Store" height="40" rel="noopener" %}
  {% if app_config.has_mac_version %}
    {% include appstorebadge.html app_id=app_config.id platform="mac" src="https://one-badge.com/b/apple/mac.svg" alt="Download on the Mac App Store" height="40" rel="noopener" %}
  {% endif %}
</div>
{% endif %}
