<div class="row align-items-md-stretch">
    {% for product in site.data.products.data %}
    <div class="col-md-6 mb-4">
      <div class="h-100 p-md-5 pb-md-3 p-4 bg-body-tertiary rounded-img">
        <div class="d-flex align-items-center mb-3 mb-md-4">
          <img src="{{ product.icon }}" width="76" class="me-3 rounded-img shadow-sm" alt="App Icon">
          <div>
            <h3 class="pb-0">{{ product.name }}</h3>
            <i class="text-warning h6 bi-star-fill"></i>
            <i class="text-warning h6 bi-star-fill"></i>
            <i class="text-warning h6 bi-star-fill"></i>
            <i class="text-warning h6 bi-star-fill"></i>
            <i class="text-warning h6 bi-star-fill"></i>
            <strong class="ms-2 text-body-secondary">{{ product.rating }}</strong><span class="px-1 text-secondary">·</span><span class="small text-body-secondary">{{ product.ratings }} Ratings</span>
          </div>
        </div>
        <p class="pb-2">{{ product.description }}</p>
        <a href="{{ product.url }}" target="_blank">
          <img class="mb-md-2" src="{{ product.badge }}" alt="{{ product.alt }}" height="48">
        </a>
        <p class="mt-3 small">
          {% for legal in product.legal.option %}
          <a class="p-2 nav-hover text-secondary" href="{{ legal.url }}" rel="noopener">{{ legal.name }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>