<div class="row align-items-md-stretch">
    {% for app_entry in site.ios_apps %}
      {% assign app_key = app_entry[0] %}
      {% assign app_config = app_entry[1] %}
      {% if app_config.published != false %}
    <div class="col-md-6 mb-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <img src="{{ app_config.icon }}" width="76" height="76" class="rounded-3 shadow-sm mb-3" alt="{{ app_config.name }} App Icon">
        <h2>{{ app_config.name }}</h2>
        <p>{{ app_config.description }}</p>
        <a href="https://apps.apple.com/us/app/id{{ app_config.id }}" target="_blank">
          <img class="p-0" src="https://one-badge.com/b/apple/appstore.svg" alt="Download on the App Store" width="135" height="48">
        </a>
        <p class="mt-3 small">
          <a class="p-2 nav-hover text-secondary" href="https://{{ app_key }}.lilucat.com/legal/privacy" rel="noopener">Privacy Policy</a>
          <a class="p-2 nav-hover text-secondary" href="https://{{ app_key }}.lilucat.com/legal/terms" rel="noopener">Terms of Service</a>
        </p>
      </div>
    </div>
      {% endif %}
    {% endfor %}
  </div>