---
layout: bootstrap
title: App Lock
description: Locker and Block Apps
permalink: /app-lock/
app_key: app_lock
---
<div class="container pb-md-5 pb-4 mt-3">
  <div class="px-md-5 pt-md-3 pt-2 mb-4 bg-light rounded-img mx-auto text-center">
    <div class="container-fluid py-md-5 py-3">
      {%- include product-page.html -%}
    </div>
  </div>
  <div class="px-md-5 pt-md-3 pt-2 mb-4 bg-light rounded-img mx-auto text-center">
    <ul id="featured-list" class="row row-cols-lg-5 row-cols-md-4 row-cols-2 mx-auto justify-content-around g-3 mb-0 py-3 list-unstyled">
      {% for item in site.data.applock.featured %}
      <li class="col mt-0 py-md-0 py-2" data-name="{{ item.name }}" data-tags="{{ item.name | downcase}} tech" data-categories="online publication">
        <a class="d-block text-body-emphasis text-decoration-none hover" href="{{ item.url }}" target="_blank" rel="noopener">
          <img class="card-img-top px-md-2" src="{{ item.logo }}" width="172" height="56" alt="{{ item.name }} Logo" title="{{ item.name }} Logo">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row align-items-md-stretch">
    {% for feature in site.data.applock.data %}
    <div class="col-lg-4 mb-4">
      <div class="h-100 p-md-5 p-4 pb-0 pb-md-0 bg-body-tertiary rounded-img"> 
        <img src="{{ feature.icon }}" width="42" height="42" class="mb-3 shadow-sm rounded-3" alt="{{ feature.name }} icon" title="{{ feature.name }} icon">
        <h2 class="pb-2 m-0 fw-semibold">{{ feature.name }}</h2>
        <p class="lead fw-normal text-body-secondary">{{ feature.description }}</p>
        <img src="{{ feature.screenshot }}" class="w-100" alt="{{ feature.description }} image" title="{{ feature.description }}" width="320" height="402" loading="lazy">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="px-md-5 pt-md-3 pt-2 mb-4 bg-light rounded-img mx-auto">
    <div class="container-fluid py-md-5 py-3">
      <h2 class="pb-2 m-0 fw-semibold">Frequently Asked Questions</h2>
      <p class="lead fw-normal text-body-secondary">Need a help with something? Here are our most frequently asked questions.</p>
      {%- include questions.html -%}
    </div>
  </div>  
</div>