---
layout: bootstrap
title: Supported Barcodes
description: Here's the list of barcodes that QR Code Reader supports.
permalink: /qr-code-reader/supported-barcodes/
image: /assets/img/qr-code-reader/qr-code-reader-app-icon.webp
--- 
<div class="container p-3 p-md-5 text-center">
  {% include text-center-main.html
    title = page.title
    subtitle = page.description
    %}
  <br>
  <div class="col col-lg-9 mx-auto">
    {% include table.html
      2th = "Name"
      3th = "Support"
      4th = "Details"
      %}
  </div>
</div>