<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100" data-bs-theme="light">
  <head>
    <meta charset="UTF-8">
    {% seo %}
		{% feed_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {%- include head-elements.html -%}
  </head>
  <body class="d-flex h-100">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
			<div class="mb-auto">
				{%- include nav.html -%}
			</div>
        <main class="container">
          <div class="col-lg-8 mx-auto">
            <div class="pt-5 pb-3">
							<img class="w-100 rounded-2 mb-4" src="{{ page.image.path }}" alt="{{ page.image.alt }}" width="864" height="526" loading="lazy"{% if page.image.title %} title="{{ page.image.title }}"{% endif %}>
              <h1 class="fw-semibold">{{ page.title }}</h1>
							<div class="d-flex gap-2 py-3">
								<a class="d-flex align-items-center text-muted footer-hover" href="https://lilucat.com" rel="noopener" title="Visit Lilucat homepage">
									<img class="mb-0 me-2 rounded-circle" srcset="/assets/icons/apple-touch-icon.png?size=32, /assets/icons/apple-touch-icon.png?size=64 2x" src="/assets/icons/apple-touch-icon.png?size=32" alt="{{ page.author }} avatar" width="32" height="32">
									<span class="fw-semibold">{{ page.author }}</span>
								</a>
								<span class="px-1 text-secondary fw-bold d-flex align-items-center">·</span>
								<p class="d-flex m-0 align-items-center text-body-secondary">
                {% if page.last_modified_at %}
                  Last updated: {{ page.last_modified_at | date: "%b %d, %Y" }}
                {% else %}
                  Last updated: {{ page.date | date: "%b %d, %Y" }}
                {%-endif %}
                </p>
							</div>
            </div>
						
					{{ content }}

					<p class="text-body-secondary mt-4"><small>Originally published on: {{ page.date | date: "%b %d, %Y" }}</small></p>
        	</div>
        </main>
        <div class="mt-auto">
          {%- include footer.html -%}
        </div>
    </div>
    {%- include bootstrap-js.html -%}
  </body>
</html>